
.topnav {
  overflow: hidden;
  background-color:red;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color:purple;
  color: black;
}
.footer {
  background-color:red;
  padding: 10px;
}
.im{
 float:right; 
border-radius:50%;

}
.e{
 float:center; 
border-radius:50%;

}
.h{
 float:left; 
border-radius:50%;

}

table, th, td {
  border: 1px solid black;
  background-color:grey;
}

th{
background-color:grey;
}
td{
background-color:darkred;
}
h2{
float:center;
text-shadow: 2px 2px;

  color:black;

}


h3{
background-color:orange;
}



.content {
	background-size:auto;
	 background-position:CENTER; 
	 text-align:center; 
	height:auto;
    color:white;
	background-image:url(uploadedimage/joss.jpg);
   background-color:black;
   padding: 10px;
  
	
}
.f{
font-size:50px;




}
.G{
text-align:left;
 background-color:green;
 }

.i{ 
font-size:auto; 
background-color:#008080;
}

h4{
text-decoration: underline wavy blue;

}
* {box-sizing: border-box}

.container {
  width: 100%;
  
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.star1 {width: 90%; background-color: PURPLE;}
.star2 {width: 80%; background-color: red;}

.star3 {width: 90%; background-color: yellow;}
.star4 {width: 80%; background-color: red;}
.star5 {width: 20%; background-color: blue;}
.star6 {width: 0%; background-color: pink;}




body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
   background:#f1f1f1; 
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: blue;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
   background: red;
 } 

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.sear{

background-image:url(img/ab.jpg);

}

.ga{
	background-color:BLACK;
	 color: WHITE;
}
















body {
  font-family: Arial;
  padding: 10px;
  background: green;
}

/* Header/Blog Title */




.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 10px;
  text-align: center;
  background: red;
  margin-top: 10px;
}




/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}












#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}